@font-face {
  font-family: "Slackey";
  src: url(../type/Slackey-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SyneMono";
  src: url(../type/SyneMono-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

html {
  --whitespace-s: 1rem;
  --whitespace-m: calc(var(--whitespace-s) * 2);
  --whitespace-l: calc(var(--whitespace-s) * 4);
  --whitespace-xl: calc(var(--whitespace-s) * 10);
  --whitespace-xs: calc(var(--whitespace-s) * 0.5);

  --step--2: clamp(0.7137rem, 0.6181rem + 0.4777vw, 1.0003rem);
  --step--1: clamp(0.7615rem, 0.5438rem + 1.0882vw, 1.4144rem);
  --step-0: clamp(0.8125rem, 0.4167rem + 1.9792vw, 2rem);
  --step-1: clamp(0.8669rem, 0.2133rem + 3.2684vw, 2.828rem);
  --step-2: clamp(0.925rem, -0.0996rem + 5.1229vw, 3.9988rem);
  --step-3: clamp(0.987rem, -0.5688rem + 7.7788vw, 5.6543rem);
  --step-4: clamp(1.0531rem, -1.2609rem + 11.5701vw, 7.9952rem);
  --step-5: clamp(1.1237rem, -2.2701rem + 16.9691vw, 11.3052rem);
}

body {
  width: 100%;
  height: 100%;
  background-color: black;
  background-image: url(../images/background-underwater.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

header {
  margin: 0;
  max-width: 100%;
  padding-top: 0.5em;
  padding-right: 1em;
  display: grid;
  place-items: end;
}

main {
  text-align: center;
}

footer {
  background-color: black;
  background-image: url(../images/footer-image.png);
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0;
  padding: var(--whitespace-s);
}

h1 {
  font-size: var(--step-2);
  margin-right: var(--whitespace-xs);
  text-align: end;
  font-family: Slackey;
  width: min-content;
}

h2 {
  margin-top: 9em;
  font-size: var(--step-1);
  font-family: Slackey;
  color: white;
}

h3 {
  font-family: Slackey;
  color: white;
}

p {
  font-family: SyneMono;
  color: white;
}

a {
  color: darkblue;
  font-family: SyneMono;
}

img {
  width: 30%;
  display: grid;
  place-self: center;
}

article:nth-of-type(1) {
  margin-top: 15em;
  margin-bottom: 18em;
}

article:nth-of-type(2) {
  margin-bottom: 20em;
}

article:nth-of-type(3) {
  margin-bottom: 20em;
}

article:nth-of-type(4) {
  margin-bottom: 25em;
}

article:nth-of-type(5) {
  margin-bottom: 25em;
}

article:nth-of-type(6) {
  margin-bottom: 30em;
}

article:nth-of-type(7) {
  margin-bottom: 30em;
}

article:nth-of-type(8) {
  margin-bottom: 0;
}
