/* HIER KOMT JOUW CSS */
@font-face {
  font-family: "Comic Relief";
  src: url(../type/ComicRelief-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Comic Relief", system-ui;
  background-color: Canvas;
  color: CanvasText;
  color-scheme: light dark;
  margin: 0;
  padding: 0;
}

header {
  background-color: purple;
  margin: 0;
  max-width: 100%;
  padding-top: 1em;
}

main {
  max-width: 80%;
  margin: auto;
  margin-top: 3em;
}

nav ul {
  display: flex;
  list-style: none;
  margin: auto;
  background-color: rgb(85, 3, 82);
}

nav ul li {
  margin: 0.5em;
}

img {
  width: 80%;
  max-width: 40em;
  min-width: 15em;
  height: auto;
}
