/* HIER KOMT JOUW CSS */
@font-face {
  font-family: "Slackey";
  src: url(../type/Slackey-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SyneMono";
  src: url(../type/SyneMono-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

html {
  color-scheme: light dark;

  --background: light-dark(#aee8ff, #10103d);
  --color: light-dark(rgb(13, 13, 32), rgb(174, 232, 255));

  --background-button: light-dark(rgb(217, 131, 19), rgb(224, 150, 23));
  --color-button: light-dark(white, white);

  --background-a: light-dark(rgb(152, 1, 190), rgb(0, 193, 190));
  --color-a: light-dark(white, white);

  accent-color: light-dark(rgb(13, 13, 32), rgb(174, 232, 255));

  /* Deze informaatie heb ik gehaald van de dark and light mode Deep Dive op DLO */

  --background-image: light-dark(
    linear-gradient(var(--wit), var(--blauw)),
    linear-gradient(var(--zwart), var(--blauw))
  );
  --zwart: black;
  --blauw: rgb(79, 149, 246);
  --wit: white;

  --whitespace-s: 1rem;
  --whitespace-m: calc(var(--whitespace-s) * 2);
  --whitespace-l: calc(var(--whitespace-s) * 4);
  --whitespace-xs: calc(var(--whitespace-s) * 0.5);

  --step--5: clamp(0.55rem, 0.5rem + 0.25vw, 0.7rem);
  --step--4: clamp(0.6rem, 0.54rem + 0.3vw, 0.78rem);
  --step--3: clamp(0.66rem, 0.58rem + 0.4vw, 0.9rem);
  --step--2: clamp(0.72rem, 0.63rem + 0.48vw, 1rem);
  --step--1: clamp(0.78rem, 0.68rem + 0.6vw, 1.15rem);
  --step-0: clamp(0.85rem, 0.73rem + 0.75vw, 1.3rem);
  --step-1: clamp(0.95rem, 0.8rem + 1vw, 1.6rem);
  --step-2: clamp(1.1rem, 0.9rem + 1.4vw, 2rem);
  --step-3: clamp(1.3rem, 1rem + 1.9vw, 2.5rem);
  --step-4: clamp(1.55rem, 1.15rem + 2.5vw, 3.2rem);
  --step-5: clamp(1.85rem, 1.3rem + 3.2vw, 4rem);
}

html:has([value="light-theme"]:checked) {
  color-scheme: light;
}

html:has([value="dark-theme"]:checked) {
  color-scheme: dark;
}

html:has(dialog:open) {
  overflow-y: clip;
}

body {
  font-size: var(--step--1);
  font-family: SyneMono;
  background-color: var(--background);
  color: var(--color);
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  /* background: url(../images/fin-top-gray.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 50%; */

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "header"
    "aside"
    "main"
    "footer";
}

@media (width>30em) {
  body {
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "header header header"
      "aside main .        "
      ".     main .        "
      "footer footer footer";
  }
}

header {
  background-image: var(--background-image);

  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 1fr;

  margin: 0;
  margin-bottom: 2em;
  max-width: 100%;
  padding-top: 0.5em;
  padding-right: 1em;
  padding-bottom: 1em;
}

main {
  grid-area: main;
  max-width: 80%;
  margin: auto;
  padding-bottom: var(--whitespace-m);
}

aside {
  grid-area: aside;
  margin-top: 4em;
  margin-left: 1em;
  padding-left: 1em;
  border: 0.2em solid rgb(128, 128, 128);
  border-radius: 1em;
  padding-bottom: var(--whitespace-m);
  max-width: 15em;
  min-width: 12em;
}

footer {
  grid-area: footer;
  display: grid;
  place-items: center;
  background-color: black;
  color: white;
  border-top: 1em rgb(24, 24, 24) solid;
  background-image: url(../images/footer-image.png);
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: center;
}

dialog {
  &::backdrop {
    background-color: rgba(0, 0, 0, 0.411);
    backdrop-filter: blur(2px);
  }
}

header article {
  display: flex;
  justify-content: space-between;
  grid-column: 1/-1;
}

header article li {
  display: grid;
  align-items: center;
  margin: 1em;
}

header h2 {
  grid-column: 1/-1;
  width: 18ch;
  text-align: center;
  place-self: center;
}

header img {
  grid-column: 1/-1;
  place-self: center;
  min-width: 10em;
  max-width: 25em;
}

main article:not(:first-of-type) {
  margin-top: 5em;
}

h1 {
  font-size: var(--step-2);
  margin-right: var(--whitespace-xs);
  text-align: end;
  font-family: Slackey;
  width: min-content;
  place-self: end;
}

h2 {
  margin-bottom: var(--whitespace-s);
  font-size: var(--step-1);
  font-family: Slackey;
  margin-right: 0.5em;
}

p {
  margin-top: var(--whitespace-m);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin-top: var(--whitespace-m);
}

img {
  display: grid;
  width: 80%;
  max-width: 30em;
  min-width: 15em;
  height: auto;
  margin-top: var(--whitespace-m);
  margin-bottom: var(--whitespace-m);
}

button {
  color: var(--color-a);
  background-color: var(--background-a);
  border: 0.2em solid var(--color-a);
  border-radius: 0.5em;
  font-family: SyneMono;
  padding: 0.4em;
  font-size: var(--step--1);
  transition: transform 0.2s ease-in-out;
  text-decoration: none;
}

button:hover {
  background-color: rgb(215, 91, 215);
  border: 0.3em solid;
}

button:focus {
  background-color: rgb(244, 161, 61);
  border: 0.3em solid;
}

p a {
  background-color: transparent;
  border: none;
  text-decoration: underline;
}

p a:hover {
  background-color: transparent;
  color: green;
}

a {
  color: var(--color-a);
  background-color: var(--background-a);
  border: 0.2em solid var(--color-a);
  border-radius: 0.5em;
  font-family: SyneMono;
  padding: 0.4em;
  font-size: var(--step--1);
  transition: transform 0.2s ease-in-out;
  text-decoration: none;
}

a:focus {
  background-color: rgb(244, 161, 61);
  border: 0.3em solid;
}

a:active {
  background-color: rgb(109, 139, 80);
}

a:hover {
  background-color: rgb(215, 91, 215);
  border: 0.3em solid;
}

/* a:visited {
  background-color: rgb(2, 53, 36);
  border-color: green;
  color: green;
} */

footer ul li {
  display: grid;
  place-items: center;
}
