/* HIER KOMT JOUW CSS */
@font-face {
  font-family: "Slackey";
  src: url(../type/Slackey-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SyneMono";
  src: url(../type/SyneMono-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

html {
  --whitespace-s: 1rem;
  --whitespace-m: calc(var(--whitespace-s) * 2);
  --whitespace-l: calc(var(--whitespace-s) * 4);
  --whitespace-xs: calc(var(--whitespace-s) * 0.5);

  --step--2: clamp(0.7137rem, 0.6181rem + 0.4777vw, 1.0003rem);
  --step--1: clamp(0.7615rem, 0.5438rem + 1.0882vw, 1.4144rem);
  --step-0: clamp(0.8125rem, 0.4167rem + 1.9792vw, 2rem);
  --step-1: clamp(0.8669rem, 0.2133rem + 3.2684vw, 2.828rem);
  --step-2: clamp(0.925rem, -0.0996rem + 5.1229vw, 3.9988rem);
  --step-3: clamp(0.987rem, -0.5688rem + 7.7788vw, 5.6543rem);
  --step-4: clamp(1.0531rem, -1.2609rem + 11.5701vw, 7.9952rem);
  --step-5: clamp(1.1237rem, -2.2701rem + 16.9691vw, 11.3052rem);
}

body {
  font-size: var(--step--1);
  font-family: SyneMono;
  background-color: Canvas;
  color: CanvasText;
  color-scheme: light dark;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: url(../images/fin-top-gray.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 50%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas:
    "header"
    "main"
    "aside"
    "footer";
}

@media (width>30em) {
  body {
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "header header "
      "aside main    "
      ".     main    "
      "footer footer ";
  }
}

header {
  grid-area: header;
  margin: 0;
  margin-bottom: 2em;
  max-width: 100%;
  padding-top: 0.5em;
  padding-right: 1em;
  display: grid;
  place-items: end;
}

main {
  grid-area: main;
  max-width: 80%;
  margin: auto;
  padding-bottom: var(--whitespace-m);
}

aside {
  grid-area: aside;
  margin-top: 4em;
  margin-left: 1em;
  padding-left: 1em;
  border: 0.2em solid grey;
  border-radius: 1em;
  padding-bottom: var(--whitespace-m);
}

footer {
  grid-area: footer;
  display: grid;
  place-items: center;
  background-color: black;
  border-top: 1em rgb(24, 24, 24) solid;
  background-image: url(../images/footer-image.png);
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: center;
}

article:not(:first-of-type) {
  margin-top: 5em;
}

h1 {
  font-size: var(--step-2);
  margin-right: var(--whitespace-xs);
  text-align: end;
  font-family: Slackey;
  width: min-content;
}

h2 {
  margin-bottom: var(--whitespace-s);
  font-size: var(--step-1);
  font-family: Slackey;
}

p {
  margin-top: var(--whitespace-m);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin-top: var(--whitespace-m);
}

img {
  display: grid;
  width: 80%;
  max-width: 30em;
  min-width: 15em;
  height: auto;
  margin-top: var(--whitespace-m);
  margin-bottom: var(--whitespace-m);
}

p a {
  background-color: transparent;
  border: none;
  text-decoration: underline;
}

p a:hover {
  background-color: transparent;
  color: green;
}

a {
  color: greenyellow;
  background-color: darkgreen;
  border: 0.2em solid greenyellow;
  border-radius: 0.5em;
  font-family: SyneMono;
  padding: 0.4em;
  font-size: var(--step--1);
  transition: transform 0.2s ease-in-out;
  text-decoration: none;
}

a:focus {
  background-color: rgb(0, 110, 122);
  border: 0.3em solid rgb(156, 209, 255);
  transform: scale(1.1);
}

a:active {
  background-color: rgb(2, 26, 2);
}

a:hover {
  background-color: rgb(27, 181, 27);
}

/* a:visited {
  background-color: rgb(2, 53, 36);
  border-color: green;
  color: green;
} */

footer ul li {
  display: grid;
  place-items: center;
}
